Repository marcgirbaub/movie-finder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --max-warnings=0",
  "*.{js,ts,css,json,md}": "prettier --write"
}

Add audit workflow
  .github/workflows/audit.yaml
  .gitignore
  src/styles.scss
Due: none

Create Movie interface and Movies type
  src/types/types.ts
Due: eslint --max-warnings=0, prettier --write

Create types for api response and apiConstants
  .eslintrc.js
  src/api/apiConstants.ts
  src/app/app.component.ts
  src/types/types.ts
  tsconfig.json
Due: eslint --max-warnings=0, prettier --write

Create moviesService with its searchMovies method to fetch data
  src/app/app.module.ts
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Install and set up jest for testing purposes
  angular.json
  jest.config.js
  package-lock.json
  package.json
  setup-jest.ts
  src/app/api/apiConstants.ts
  tsconfig.json
  tsconfig.spec.json
Due: eslint --max-warnings=0, prettier --write

Test moviesService searchMovies method
  src/app/services/movies/movies.service.spec.ts
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Add testing workflow on push
  .github/workflows/testing.yaml
Due: none

Add global styles resets
  src/styles.scss
Due: none

Create colors and typography main variables
  angular.json
  package-lock.json
  package.json
  src/styles/partials/_variables.scss
  src/styles/styles.scss
Due: prettier --write

Intall Material Angular and set up material module
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/index.html
Due: eslint --max-warnings=0, prettier --write

Import fonts and material icons in styles file
  package-lock.json
  package.json
  src/app/material/material.module.ts
  src/styles/styles.scss
Due: eslint --max-warnings=0, prettier --write

Create HomePageComponent with the search bar styled
  src/app/app.module.ts
  src/app/pages/home-page/home-page/home-page.component.html
  src/app/pages/home-page/home-page/home-page.component.scss
  src/app/pages/home-page/home-page/home-page.component.ts
Due: eslint --max-warnings=0, prettier --write

Implement route for HomePageComponent
  src/app/app-routing.module.ts
Due: eslint --max-warnings=0, prettier --write

Refactor moviesService to return an observable with method searchMovies
  src/app/api/apiConstants.ts
  src/app/services/movies/movies.service.ts
  src/types/types.ts
Due: eslint --max-warnings=0, prettier --write

Implement searchMovies method to HomePageComponent
  src/app/pages/home-page/home-page/home-page.component.html
  src/app/pages/home-page/home-page/home-page.component.scss
  src/app/pages/home-page/home-page/home-page.component.ts
Due: eslint --max-warnings=0, prettier --write

Test HomePageComponent
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/pages/home-page/home-page.component.html
  src/app/pages/home-page/home-page.component.scss
  src/app/pages/home-page/home-page.component.spec.ts
  src/app/pages/home-page/home-page.component.ts
  src/app/services/movies/movies.service.spec.ts
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Create and style MoviesTableComponent to present search results
  src/app/app.module.ts
  src/app/components/movies-table/movies-table.component.html
  src/app/components/movies-table/movies-table.component.scss
  src/app/components/movies-table/movies-table.component.ts
  src/app/material/material.module.ts
Due: eslint --max-warnings=0, prettier --write

Refactor MoviesService and its test
  src/app/pages/home-page/home-page.component.spec.ts
  src/app/services/movies/movies.service.spec.ts
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Implement MoviesTableComponent in HomePageComponent
  src/app/pages/home-page/home-page.component.html
  src/app/pages/home-page/home-page.component.scss
  src/app/pages/home-page/home-page.component.ts
  src/styles/partials/_variables.scss
Due: eslint --max-warnings=0, prettier --write

Test MoviesTableComponent
  src/app/components/movies-table/movies-table.component.spec.ts
Due: eslint --max-warnings=0, prettier --write

Implement isLoading in HomePageComponent when fetching data
  src/app/components/movies-table/movies-table.component.ts
  src/app/pages/home-page/home-page.component.html
  src/app/pages/home-page/home-page.component.ts
Due: eslint --max-warnings=0, prettier --write

Include material spinner in MoviesTableComponent
  src/app/components/movies-table/movies-table.component.html
  src/app/components/movies-table/movies-table.component.scss
  src/app/material/material.module.ts
Due: eslint --max-warnings=0, prettier --write

Implement placeholder text when no search has been made
  src/app/components/movies-table/movies-table.component.html
  src/app/components/movies-table/movies-table.component.scss
Due: none

Refactor MoviesTableComponent styles
  src/app/components/movies-table/movies-table.component.html
  src/app/components/movies-table/movies-table.component.scss
  src/styles/partials/_variables.scss
  src/styles/styles.scss
Due: none

Add main section to HomePageComponent html and style the container
  src/app/components/movies-table/movies-table.component.html
  src/app/components/movies-table/movies-table.component.scss
  src/app/pages/home-page/home-page.component.html
  src/app/pages/home-page/home-page.component.scss
  src/styles/styles.scss
Due: none

Create and style HeaderComponent
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
  src/app/components/header/header.component.ts
Due: eslint --max-warnings=0, prettier --write

Implement HeaderComponent in app
  src/app/app.component.html
  src/app/pages/home-page/home-page.component.scss
  src/styles/styles.scss
Due: none

Include active links styles for anchors
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
Due: none

Test HeaderComponent
  src/app/components/header/header.component.spec.ts
  src/app/pages/home-page/home-page.component.scss
  src/styles/styles.scss
Due: eslint --max-warnings=0, prettier --write

Install and set up ngrx for state management
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
Due: eslint --max-warnings=0, prettier --write

Create moviesFeature and its types
  src/app/store/movies/movies.reducer.ts
  src/app/store/movies/types.ts
Due: eslint --max-warnings=0, prettier --write

Create MoviesModule and add it to app module
  src/app/app.module.ts
  src/app/store/movies/movies.module.ts
Due: eslint --max-warnings=0, prettier --write

Create addToFavourites action
  src/app/store/movies/movies.actions.ts
Due: eslint --max-warnings=0, prettier --write

Implement addToFavourites moviesReducer case
  src/app/store/movies/movies.reducer.ts
Due: eslint --max-warnings=0, prettier --write

Create addToFavourites method for MoviesService
  angular.json
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Implement addToFavourites method to MoviesTableComponent
  src/app/components/movies-table/movies-table.component.ts
Due: eslint --max-warnings=0, prettier --write

Create button to add movie to favourites and its styles
  src/app/components/movies-table/movies-table.component.html
  src/app/components/movies-table/movies-table.component.scss
Due: none

Refactor FavMovie interface
  src/app/store/movies/types.ts
Due: eslint --max-warnings=0, prettier --write

Implement getFavouritesMoviesState in MoviesService
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Implement fav button switching conditionally if movie is favourite
  src/app/components/movies-table/movies-table.component.html
  src/app/components/movies-table/movies-table.component.ts
Due: eslint --max-warnings=0, prettier --write
