Repository marcgirbaub/movie-finder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Create mockStore and refactor MoviesService tests to include mock store
  src/app/services/movies/movies.service.spec.ts
  src/app/services/movies/movies.service.ts
  src/app/spec/mockStore.ts
Due: eslint --max-warnings=0, prettier --write

Create deleteFromFavourites action
  src/app/store/movies/movies.actions.ts
Due: eslint --max-warnings=0, prettier --write

Create deleteFromFavourites reducer case
  src/app/store/movies/movies.reducer.ts
Due: eslint --max-warnings=0, prettier --write

Implement delete method to MoviesService and MovieTableComponent
  src/app/components/movies-table/movies-table.component.ts
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Add functionality to delete from favs to corresponding button
  src/app/components/movies-table/movies-table.component.html
Due: none

Create MovieComponent
  src/app/app.module.ts
  src/app/components/movie/movie.component.html
  src/app/components/movie/movie.component.scss
  src/app/components/movie/movie.component.ts
Due: eslint --max-warnings=0, prettier --write

Style MovieComponent
  src/app/components/movie/movie.component.scss
Due: none

Test MovieComponent
  src/app/components/movie/movie.component.html
  src/app/components/movie/movie.component.spec.ts
Due: eslint --max-warnings=0, prettier --write

Implement deleteFromFavourites in MovieComponent
  src/app/components/movie/movie.component.html
  src/app/components/movie/movie.component.ts
  src/app/pages/home-page/home-page.component.ts
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Create FavouritesPageComponent and its styles
  src/app/app.module.ts
  src/app/components/movies-table/movies-table.component.ts
  src/app/pages/favourites-page/favourites-page.component.html
  src/app/pages/favourites-page/favourites-page.component.scss
  src/app/pages/favourites-page/favourites-page.component.ts
Due: eslint --max-warnings=0, prettier --write

Implement route for favourites page
  src/app/app-routing.module.ts
Due: eslint --max-warnings=0, prettier --write

Implement media queries for mobile screen sizes in favourites page
  src/app/components/movie/movie.component.scss
  src/app/pages/favourites-page/favourites-page.component.html
  src/app/pages/favourites-page/favourites-page.component.scss
  src/styles/styles.scss
Due: none

Refactor MovieComponent styles
  src/app/components/movie/movie.component.html
  src/app/components/movie/movie.component.scss
Due: none

Create modifyDescription action
  src/app/store/movies/movies.actions.ts
Due: eslint --max-warnings=0, prettier --write

Implement modifyDescription reducer case
  src/app/store/movies/movies.actions.ts
  src/app/store/movies/movies.reducer.ts
Due: eslint --max-warnings=0, prettier --write

Implement modifyDescription method in MoviesService
  src/app/pages/favourites-page/favourites-page.component.html
  src/app/pages/favourites-page/favourites-page.component.scss
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Create DialogComponent to modify description and its styles
  src/app/app.module.ts
  src/app/components/dialog/dialog.component.html
  src/app/components/dialog/dialog.component.scss
  src/app/components/dialog/dialog.component.ts
  src/app/material/material.module.ts
Due: eslint --max-warnings=0, prettier --write

Include app title in header
  src/app/components/header/header.component.html
  src/app/components/header/header.component.scss
Due: none

Implement DialogComponent in MovieComponent
  src/app/components/movie/movie.component.html
  src/app/components/movie/movie.component.scss
  src/app/components/movie/movie.component.ts
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Implement filterMovies method and add types filter
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/app/pages/favourites-page/favourites-page.component.html
  src/app/pages/favourites-page/favourites-page.component.ts
Due: eslint --max-warnings=0, prettier --write

Add styles for filter form
  src/app/pages/favourites-page/favourites-page.component.scss
Due: none

Add filterMovies and resetFilters methods
  .eslintrc.js
  src/app/pages/favourites-page/favourites-page.component.ts
Due: eslint --max-warnings=0, prettier --write

Create input to filter by year
  src/app/pages/favourites-page/favourites-page.component.html
Due: none

Create button to reset filters
  src/app/pages/favourites-page/favourites-page.component.html
  src/app/pages/favourites-page/favourites-page.component.scss
Due: none

Implement media queries for dialog and filter form in favourites page
  src/app/components/dialog/dialog.component.scss
  src/app/components/header/header.component.scss
  src/app/pages/favourites-page/favourites-page.component.scss
Due: none

Add readme file
  README.md
Due: prettier --write

Refactor searchMovies metho to handle failed responses
  src/app/services/movies/movies.service.ts
  src/types/types.ts
Due: eslint --max-warnings=0, prettier --write

Include error feedback in MovieTableComponent
  src/app/components/movies-table/movies-table.component.html
  src/app/components/movies-table/movies-table.component.scss
  src/app/components/movies-table/movies-table.component.ts
Due: eslint --max-warnings=0, prettier --write

Implement error handling in HomePageComponent
  src/app/pages/home-page/home-page.component.html
  src/app/pages/home-page/home-page.component.ts
Due: eslint --max-warnings=0, prettier --write

Implement clearSearch method in HomePageComponent
  src/app/pages/home-page/home-page.component.ts
  src/app/services/movies/movies.service.ts
  src/assets/images/image-not-found.png
Due: eslint --max-warnings=0, prettier --write

Include button to clear search in HomePageComponent
  src/app/pages/favourites-page/favourites-page.component.scss
  src/app/pages/home-page/home-page.component.html
  src/app/pages/home-page/home-page.component.scss
Due: none

Fix resetFilters button being disabled conditionally wrong
  src/app/components/movie/movie.component.html
  src/app/components/movie/movie.component.scss
  src/app/components/movies-table/movies-table.component.html
  src/app/pages/favourites-page/favourites-page.component.html
  src/app/pages/home-page/home-page.component.html
  src/app/pages/home-page/home-page.component.ts
Due: eslint --max-warnings=0, prettier --write

Refactor media queries for movies list in favourites-page
  src/app/components/dialog/dialog.component.html
  src/app/components/movie/movie.component.scss
  src/app/pages/favourites-page/favourites-page.component.html
  src/app/pages/favourites-page/favourites-page.component.scss
Due: none

Fix images size for small screens in MovieComponent
  src/app/components/movie/movie.component.scss
Due: none

Implement year and type params in searchMovies method
  src/app/pages/home-page/home-page.component.ts
  src/app/services/movies/movies.service.ts
Due: eslint --max-warnings=0, prettier --write

Refactor MoviesService test to include multiple params
  src/app/services/movies/movies.service.spec.ts
Due: eslint --max-warnings=0, prettier --write

Add advanced search options accordion and its styles
  src/app/material/material.module.ts
  src/app/pages/favourites-page/favourites-page.component.scss
  src/app/pages/home-page/home-page.component.html
  src/app/pages/home-page/home-page.component.scss
  src/styles/partials/_variables.scss
Due: eslint --max-warnings=0, prettier --write

Add EventEmitter to deleteFromFavourites to fix when unfav on filters
  .eslintrc.js
  src/app/components/movie/movie.component.html
  src/app/components/movie/movie.component.ts
  src/app/pages/favourites-page/favourites-page.component.html
  src/app/pages/favourites-page/favourites-page.component.ts
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.ts
  prettier --write: any of: *.{js,ts,css,json,md}
